body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
}

h1 {
    color: #eb9e2c;
    ;
}

.order-summary {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.order-summary img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.order-summary div {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #eb9e2c;
    ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #f19204;
}
